@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");



body {
    font-family:Michroma, serif;
    background: linear-gradient(107deg, rgb(13, 43, 211) 13%, rgb(0, 0, 0) 78%);
}

p {
    color: rgb(124, 229, 194);
}


.nav-link  {
    color: rgb(124, 229, 194);
}

.navbar-nav .nav-link.active {
    color: rgb(92, 95, 94);
}

.navbar-brand img {
    width: 40px;
}


.navbar-toggler {
    background-color: rgb(66, 63, 63);
}

.sidebar {
    color: rgb(124, 229, 194);
    background: linear-gradient(270deg, rgb(13, 35, 195) 13%, rgba(0, 0, 0, 0.816) 78%);
}


.sidebar a {
    text-decoration: none;
    color: rgb(115, 152, 225);
    
}

.card {
    background: linear-gradient(270deg, rgb(10, 30, 180) 13%, rgba(0, 0, 0, 0.686) 78%);
    color: rgb(124, 229, 194);
}


.card a {
    text-decoration: none;
    color: rgb(124, 229, 194);
}



.slide-text {
    color: rgb(124, 229, 194);
    margin: auto auto;
}
.foter-text {
    color: rgb(124, 229, 194);
}

footer, .btn-outline-primary {
    background: linear-gradient(230deg, rgba(6, 25, 133, 0.807) 13%, rgba(0, 0, 0, 0.736) 78%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    animation: myAnim 3s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}


